@import './reset.css';

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #3EB6D0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color:var(--primary-color);
}