@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #3EB6D0;
  --secondary-color: #5C5C5C;
  --primary: #3EB6D0;
  --secondary: #5C5C5C;
}

html {
  font-size: 18px;
}

body {
  color: var(--secondary-color);
  font-family: 'Lato', sans-serif;
}

a {
  color:var(--primary-color);
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color:var(--primary-color);
  text-decoration: underline;
}